*{
	margin: 0px;
	padding: 0px;
}
#header{
	height: 482px;
	background-color: #f00;	
}
#header .top{
	width: 928px;
	height: 85px;
	margin: 0 auto;
	background-color: #0f0;
}
#header .top .logo{
	width: 107px;
	height: 77px;
	padding-top: 8px;
	background-color: #00f;
	float: left;
}
#header .top .nav{
	width: 501px;
	height: 65px;
	padding-top: 10px;
	background-color: #000;
}
#header .banner{
	width: 930px;
	height: 380px;
	margin: 0 auto;
	margin-top: 17px;
	background-color: #ff0;
}
